    <div id="banner" class="jumbotron breaker">
      <div class="container banner breaker">
        <img src="/images/Quartz_Logo_large.jpg">
        <h1>Job Scheduler</h1>
      </div>

      <div style="text-align: center; margin-top: 20px;">
        <a href="/downloads/"><button type="button" class="btn btn-lg btn-success"><i class="fa fa-download"></i> Downloads</button></a>
        <span>&nbsp;&nbsp;</span>
        <a href="/documentation/"><button type="button" class="btn btn-lg btn-primary"><i class="fa fa-book"></i> Documentation</button></a>
        <span>&nbsp;&nbsp;</span>
        <a href="https://github.com/quartz-scheduler/quartz"><button type="button" class="btn btn-lg btn-default"><i class="fa fa-github"></i> GitHub Project</button></a>
      </div>

    </div>
