<br/>
<footer class="site-footer">

  <div class="container">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        Related Projects:<br/>
        <a href="https://www.terracotta.org"><img src="/images/Terracotta_Logo_sm.png" style="max-height: 20px;"></a><br/>
        <a href="https://www.ehcache.org"><img src="/images/ehcache.png" style="max-height: 44px;"></a>

        <!--
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      -->
      </div>

    <div class="footer-col  footer-col-2">
      {% if site.github_username %}
      <li>
        <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"></i> GitHub</a>
      </li>
      {% endif %}
      <a href="/downloads/"><i class="fa fa-download"></i> Download Now</a>
      <br/>
      <a href="/documentation/"><i class="fa fa-book"></i> Documentation</a>
      <br/>
      <a href="/community/"><i class="fa fa-users"></i> Join the Community</a>
    </div>

    </div>

    <div class="container-fluid">
        <hr/>
        <div class="footer-text">
          <em class="copyleft">Quartz Job Scheduler is Open Source and freely available under the Apache 2 License</em>
        </div>
    </div>
  </div>

</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>

<!--  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"/> -->

<script type="text/javascript">
        $('#{{ page.active_menu_id }}').addClass("active");
        $('#{{ page.active_sub_menu_id }}').addClass("active");
</script>
