---
layout: default
active_menu_id: site_mnu_about
---
<br/>

<div class="container-fluid">

  <div class="row row-offcanvas row-offcanvas-left">

    <!-- sidebar -->
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <ul class="nav">
          <li id="site_mnu_about_about" class="submenu"><a href="/overview/">About</a></li>
          <li id="site_mnu_about_license" class="submenu"><a href="license.html">License</a></li>
          <li id="site_mnu_about_quick_start" class="submenu"><a href="/documentation/{{ quartz-version }}/quick-start-guide.html">Quick Start</a></li>
          <li id="site_mnu_about_quick_start" class="submenu"><a href="/documentation/{{ quartz-version }}/index.html">Full Documentation</a></li>
        </ul>
    </div>

    <!-- main area -->
    <div class="col-xs-12 col-sm-9">
      <header class="post-header">
        <h1 class="post-title">{% if page.visible_title %}{{ page.visible_title }} {% else %}{{ page.title }}{% endif %}</h1>
        <hr/>
      </header>
      <article class="post-content">
        {{ content }}
      </article>
    </div>

  </div>

</div>
