---
title: Documentation
no_title_on_main_layout: true
layout: default
active_menu_id: site_mnu_docs
---


<br/>

<div class="container-fluid">

  <div class="row row-offcanvas row-offcanvas-left">

    <!-- sidebar -->
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <ul class="nav">
          <li id="site_mnu_docs_home" class="submenu"><a href="/documentation/">Documentation Home</a></li>
          <li id="site_mnu_docs_faq" class="submenu"><a href="/documentation/faq.html" target="_blank">FAQ</a></li>
          <li id="site_mnu_docs_best-practices" class="submenu"><a href="/documentation/best-practices.html">Best Practices</a></li>
        </ul>
    </div>

    <!-- main area -->
    <div class="col-xs-12 col-sm-9">
      <header class="post-header">
        {% if page.no_title_on_main_layout %} {% else %}
        <h1 class="post-title">{% if page.visible_title %}{{ page.visible_title }} {% else %}{{ page.title }}{% endif %}</h1>
        <hr/>
        {% endif %}
      </header>
      <article class="post-content">
        {{ content  | toc_generate }}
      </article>
    </div>

  </div>

</div>
